<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="QUEV_NuGet_Gallary" value="http://10.155.69.111:8081/repository/oshio-group/" />
  </packageSources>
  <packageSourceCredentials>
    <QUEV_NuGet_Gallary>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="admin123" />
    </QUEV_NuGet_Gallary>
  </packageSourceCredentials>
</configuration>