<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <apikeys>
    <add key="http://10.121.88.188:8081/nexus/service/local/nuget/OlympusNuGetGallary/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAnBwRjCyEOEGJCfdAX37mtgAAAAACAAAAAAAQZgAAAAEAACAAAABirUAaT0xwDpUNKYQKtQv4135s/KVnlCjTBJ+pX81MhAAAAAAOgAAAAAIAACAAAADGtDYuY1ljKNhpSXK0lQo0TqYY86agFxdbFZyFK8DFBDAAAACxttFJW573xtqzyXluQInsfTSmwr6vFfHrB4uE26tOEC+3vBgcJ21ihdsAXKZypzdAAAAAUqCXDQN8fI5yu9jc7MSyv/0FLzfRrLQnIPShu6CDlWmanKndXvcfYuJQTgF2ME2JqQVa/AbEKkXaZecYAX/IyA==" />
  </apikeys>
  <packageSources>
    <add key="OlympusNuGetGallary" value="http://10.121.88.188:8081/nexus/service/local/nuget/OlympusNuGetGallary/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="OlympusNuGetGallary" value="http://10.121.88.188:8081/nexus/service/local/nuget/OlympusNuGetGallary/" />
  </activePackageSource>
</configuration>