<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <apikeys>
    <add key="http://10.121.88.157:8081/nexus/service/local/nuget/OlympusNuGetGallery/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAnBwRjCyEOEGJCfdAX37mtgAAAAACAAAAAAAQZgAAAAEAACAAAAC63ao/NHevi9jYbGiW41oDKZ7vhy7VX6h4UntHvuoLZAAAAAAOgAAAAAIAACAAAADn1cwbq/ku1wUcfj04GK9nujNwl5kRLW8bGBLZHqI0MzAAAABjv+IGtIuq3O7QI9hqw5A3BOP4PEfCuuxRIzNxw6cj8jLmNKA9WwQ6YkX/84glT9pAAAAAqlaOTTMSuzKt0R+2Y9OoeeABz4HRRiL2tncvSK0KRgMnCXhtXYSb/0k22sM82qmqj3aYLG3g8ROLV825MyEyFg==" />
  </apikeys>
  <packageSources>
    <add key="OlympusNuGetGallary" value="http://10.121.88.157:8081/nexus/service/local/nuget/OlympusNuGetGallery/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="OlympusNuGetGallery" value="http://10.121.88.157:8081/nexus/service/local/nuget/OlympusNuGetGallery/" />
  </activePackageSource>
</configuration>